.home {
 background-image: url('../image/product_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-position: center;
  background-size: cover;
  height: 1200px;
  
}
.title {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    color: slateblue
}

.image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    padding-top: 50px;
    margin: auto;

}
.image img {
    width: 600px;
    box-shadow: 10px 10px 10px 10px papayawhip;
    margin: auto
}